.ul-ecommerce {
  display: flex;
  justify-content:space-evenly;
  list-style: none;

}
.ul-ecommerce li a {
  text-decoration: none;
  margin: 10px;
}

.txt-field {
  
  width: 50px;
  text-align: center;
}


.img-logo {
  width: 100px;
  height: 100px;
}
