 

.contenedor_center{
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    height: 101vh;
    padding-top: 50px;
   text-align: center;
   padding-bottom: 50px;
}

